<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div class="back-to-index">
        <a href="{{ url_for('index') }}" class="back-button">Kembali</a>
    </div>

        <!-- Form untuk memilih user -->
    <form method="POST">
        <label for="user_id">Pilih User:</label>
        <select name="user_id" id="user_id">
            <option value="">-- Pilih User --</option>
            {% for user in users %}
            <option value="{{ user.id }}" {% if selected_user_id == user.id %}selected{% endif %}>
                {{ user.nama }} ({{ user.login }})
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn-filter">Tampilkan</button>
    </form>

    <!-- Tabel hasil anotasi -->
    {% if annotations %}
    <h2>Hasil Anotasi</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Teks Masukan</th>
                <th>Hasil Terjemahan</th>
                <th>Fluency</th>
                <th>Adequacy</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for annotation in annotations %}
            <tr>
                <td>{{ annotation.id }}</td>
                <td>{{ annotation.input_text }}</td>
                <td>{{ annotation.translation_text }}</td>
                <td>{{ annotation.fluency }}</td>
                <td>{{ annotation.adequacy }}</td>
                <td>{{ annotation.user.nama }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if selected_user_id %}
    <div style="text-align: center; margin-top: 20px;">
        <h3>Download Annotations</h3>
        <a href="{{ url_for('download_csv', user_id=selected_user_id) }}" class="btn-download">
            Download CSV untuk {{ selected_user.nama }}
        </a>
    </div>
    {% endif %}

    
</body>
</html>
