<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Terima Kasih Telah Menyelesaikan Anotasi!</h1>
    <!-- <p>Silakan berikan feedback Anda untuk membantu kami meningkatkan kualitas sistem.</p> -->

    <form method="POST">
        <label for="feedback">Feedback:</label>
        <textarea id="feedback" name="feedback" rows="4" placeholder="Masukkan feedback Anda (opsional)"></textarea>

        <button type="submit">Kirim Feedback</button>
    </form>
</body>
</html>