<!DOCTYPE html>
<html>
<head>
    <title>Lupa Kata Sandi</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Lupa Kata Sandi</h1>
    <form method="POST" action="/forgot_password">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <!-- <label for="nama">Nama:</label>
        <input type="text" name="nama" id="nama" required>
        <br>
        <label for="pekerjaan_terakhir">Pekerjaan Terakhir:</label>
        <input type="text" name="pekerjaan_terakhir" id="pekerjaan_terakhir" required>
        <br>
        <label for="alamat">Alamat:</label>
        <input type="text" name="alamat" id="alamat" required>
        <br> -->
        <label for="new_password">Password Baru:</label>
        <input type="password" name="new_password" id="new_password" required>
        <br>
        <button type="submit">Atur Ulang Password</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green;">{{ success }}</p>
        <!-- Tombol Back to Login -->
        <div style="margin-top: 20px;">
            <a href="/" style="text-decoration: none; color: white; background-color: #007BFF; padding: 10px 20px; border-radius: 5px;">Back to Login</a>
        </div>
    {% endif %}

    
</body>
</html>
