<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Lius Project Evaluation</title>
    <style>
    </style>
</head>
<body>
    <header>
        <div class="logo">Lius Project</div>
        <div class="user-info">
            Masuk sebagai: <span>{{ session['user_name'] }}</span>
            <a href="{{ url_for('logout') }}" class="logout-link">Keluar</a>
        </div>
    </header>

    <div class="container">
        <h1>Selamat Datang</h1>
        {% if session.get('user_id') %}
            {% set next_index = find_next_unannotated_index(session['user_id']) %}
            {% if next_index is not none %}
                <a href="{{ url_for('annotate', index=next_index) }}" class="btn-add">Mulai Evaluasi</a>
            {% else %}
                <p>Semua data sudah selesai dianotasi.</p>
            {% endif %}
        {% else %}
            <a href="{{ url_for('login') }}" class="btn-add">Masuk untuk Mulai Evaluasi</a>
        {% endif %}
        <a href="{{ url_for('show_results') }}" class="button">Lihat Hasil</a>

        <iframe width="681" height="383" src="https://www.youtube.com/embed/EYkfYsdv09g" title="Dulunya Video Editor, Sekarang 1 Juta Followers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
</body>
</html>
